<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="SubCode" value="1" />
    <add key="Cores" value="http://localhost,http://192.168.0.62" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="server=192.168.0.107;uid=sa;pwd=Dh123456;database=AI;min pool size =3;max pool size=512" />
  </connectionStrings>
</configuration>
